# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/src/generated/prisma

# seed files
prisma/seed.ts
src/scripts/seed-about.ts
src/scripts/seed-skills.ts
src/scripts/seed-projects.ts
src/scripts/seed-experience.ts
src/scripts/seed-education.ts
src/scripts/seed-admin.ts
src/scripts/seed-blog.ts
src/scripts/seed-engineering-highlights.ts

# IDE
.vscode/
.idea/

# OS
Thumbs.db

# db
backup.sql
